<!-- 纯 css3 实现 🎲 -->
<div id="dice" class="dice" title="🎲 点我就消失">
  <div class="dice-content">
    <!-- 1 -->
    <div class="dice-face dice-pos-top">
      <span class="dice-point"></span>
    </div>
    <!-- 2 -->
    <div class="dice-face dice-pos-left flex flex-column jc-sa">
      <div class="flex jc-fs">
        <span class="dice-point"></span>
      </div>
      <div class="flex jc-fe">
        <span class="dice-point"></span>
      </div>
    </div>
    <!-- 3 -->
    <div class="dice-face dice-pos-front flex flex-column jc-sa">
      <div class="flex jc-fs">
        <span class="dice-point"></span>
      </div>
      <div class="flex jc-c">
        <span class="dice-point"></span>
      </div>
      <div class="flex jc-fe">
        <span class="dice-point"></span>
      </div>
    </div>
    <!-- 4 -->
    <div class="dice-face dice-pos-back flex flex-column jc-sa">
      <div class="flex jc-sa">
        <span class="dice-point"></span>
        <span class="dice-point"></span>
      </div>
      <div class="flex jc-sa">
        <span class="dice-point"></span>
        <span class="dice-point"></span>
      </div>
    </div>
    <!-- 5 -->
    <div class="dice-face dice-pos-right flex flex-column jc-sa">
      <div class="flex jc-sa">
        <span class="dice-point"></span>
        <span class="dice-point"></span>
      </div>
      <div class="flex jc-c">
        <span class="dice-point"></span>
      </div>
      <div class="flex jc-sa">
        <span class="dice-point"></span>
        <span class="dice-point"></span>
      </div>
    </div>
    <!-- 6 -->
    <div class="dice-face dice-pos-bottom">
      <div class="flex flex-column jc-sa">
        <span class="dice-point"></span>
        <span class="dice-point"></span>
        <span class="dice-point"></span>
      </div>
      <div class="flex flex-column jc-sa">
        <span class="dice-point"></span>
        <span class="dice-point"></span>
        <span class="dice-point"></span>
      </div>
    </div>
  </div>
</div>
